.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.qrWrapper svg path last-child {
  fill: rgb(207, 108, 108);
}

.button {
  border: none;
  width: 15%;
  height: 42px;
  font-size: 24px;
  border-radius: 5px;
  background: rgb(113, 113, 113);
}

.input {
  border-radius: 5px;
  background: rgb(223, 223, 223);
  width: 30%;
  height: 40px;
  font-size: 24px;
  padding: 8px 12px;
  color: #333;
}
// -----------------------------------
