.navMenu {
  background-color: #f0f0f0;
  height: 20px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #551a8b;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-bottom: 3px solid transparent;
  transition: all 0.15s ease;

  &:hover {
    font-size: 20.5px;
    color: #333;
  }

  &.active {
    color: #000000;
    border-bottom-color: #551a8b;
  }
}
