.historyContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyCard {
  margin-bottom: 12px;
  width: 920px;
  background-color: #efefef;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 15px;
  box-sizing: border-box;
  display: flex;

  flex-direction: row;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: #d2d2d2;
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  }

  .qrWrapper {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  p {
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    word-break: break-all; // Переносим длинные слова, чтобы не ломать карточку
    text-align: center;
  }
}
