.conteiner {
  margin-top: 20px;
  background-color: rgb(214, 213, 213);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
.result {
  font-size: 20px;
  margin-bottom: 30px;
}
