.conteiner {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
.result {
  font-size: 22px;
  margin-bottom: 30px;
}
.scaner {
  border-radius: 5%;
  overflow: hidden;
}
